/* Add Font */

@font-face {
    font-family: AvenirLTStd-Light;
    src: url('../fonts/AvenirLTStd-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GroteskBoldCond';
    src: url('../fonts/GroteskBoldCond.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    line-height: 1.8;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
<<<<<<< HEAD
    font-weight: 300;
    background-color: #D3D3D3;
=======
    font-weight: 500;
    background-color: #A5A5A5;
>>>>>>> 571fafe1c7134b3bb5c416b9b5b71b53eb50bd07
    margin: 0px 50px 0px 50px;
}

.col-sm-10 {
    padding-left: 0px;
    padding-top: 15px;
}


/* Text About */

.text-about {
    height: 455px;
    font-family: 'Montserrat', sans-serif;
    padding: 50px 170px 0px 170px;
    position: absolute;
    top: 50%;
    background-color: #fff;
    color: #000;
}

.text-about h3 {
    letter-spacing: 7px;
}

.text-about h5 {
    font-size: 15px;
    letter-spacing: 0.25px;
    line-height: 1.6em;
    margin-bottom: 20px;
}

.background-about-1 {
    width: 50%;
    height: 456px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    float: left;
}

.background-about {
    width: 100%;
    height: 525px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    float: left;
}

.red-bg {
    background-color: #000;
    color: #fff;
}

.View-Shop {
    font-family: 'AvenirLTStd-Light';
    font-size: 15px;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.00);
    border: 1.5px solid #fff;
    padding: 5px 35px;
    color: #fff;
    margin-top: 38px;
    transition: background 0.25s ease-out;
}

.View-Shop:hover {
    background-color: #fff;
    color: #000;
}




/* Form Contact */

.form-control {
    color: #B97F6D;
    border-radius: 0;
    margin: auto;
}

.form-group button[type=submit]{
    margin-top: 10px;
}

.bg-white {
    background-color: #ffffff;
}

.container-fluid {
    padding: 0;
}

.product {
    height: 440px;
    padding: 20px 10px 0px 10px;
}

.text-inside {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 40%;
}

.text-inside hr {
    border: 1px solid #000;
}

.diamond {
    /*Dinamon*/
    width: 200px;
    height: 200px;
    opacity: 0.7;
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid #000;
    position: absolute;
    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    left: 50%;
    top: 40%;
}

.catalogue .diamond {
    left: 50%;
    top: 35%;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #000;
    margin: 0;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.title:hover {
    color: #000;
}

.big-title {
    font-size: 20px;
    letter-spacing: 2px;
}

.catalogue {
    width: 100%;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

#zoom-catalogue {
    transition: transform .6s;
    margin: 0 auto;
}
#zoom-catalogue:hover {
    -ms-transform: scale(3); /* IE 9 */
    -webkit-transform: scale(10); /* Safari 3-8 */
    transform: scale(1.04);
}
.product:hover {
    background-color: #F5F5F5; 
    width: 415px;
    height: 440px;
    border-radius: 25px:
}

.background-cat {
    width: 100%;
    height: 400px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

div#about {
    padding-top: 50px;
}

div#contact {
    padding-top: 50px;
}




/* Footer Of Website */

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
}

.add-wb {
    background-color: #000;
    height: 450px;
    position: relative;
}

.content-footer {
    color: #fff;
    position: absolute;
    left: 25%;
    height: 200px;
    top: 15%;
}

.ltsp-add {
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.oph-str {
    float: right;
    height: 150px;
    width: 50%;
}

.oph-str h4, .oph-str h6{
    font-weight: 300;
}

.add-str {
    float: left;
    height: 150px;
    width: 50%;
    padding: 0 20px;
    border-right: 1px solid #fff;
}

.add-str h4, .add-str h6{
    font-weight: 300;
}

.subsc {
    color: #fff;
    position: absolute;
    left: 25%;
    top: 60%;
    height: 100px;
}

.add-wb h6 {
    letter-spacing: 0.25px;
    font-size: 15px;
}

.add-wb h4 {
    font-size: 20px;
}

div#map {
    height: 450px;
    width: 100%;
}




/* Navigation bar */

.navbar {
    margin-bottom: 0;
    background-color: #1b1b1b;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    border-radius: 0;
}

.navbar .navbar-brand {
    font-family: 'GroteskBoldCond';
    color: #fff !important;
}

@media (min-width: 1400px) {
    .container {
        width: 1285px;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1485px;
    }
}

@media (min-width: 1920px) {
    .container {
        width: 1745px;
    }
}


.navbar li a {
    font-family: Ahem!, sans-serif;
    font-size: 16px;
    color: #fff !important;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
    overflow: hidden;
}
.navbar li a p.uppercaseText{
    text-transform: uppercase;

}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #999 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-brand {
    font-family: 'Avenir';
    font-weight: 500;
    font-size: 20px;
    float: left;
    margin-right: 50px;
    padding-left: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #555;
    background-color: rgba(0, 0, 0, 0);
}




/*Slide An Image */

.slideanim {
    visibility: hidden;
}

.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}




/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}




/* Parallax Scrolling Effect */

.parallax {
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

div#home {
    background-image: url("../image/bg-head.jpg");
    height: 800px;
    margin-top: 50px;
}

div#login {
    background-image: url("../image/bg-head.jpg");
    height: 800px;
    margin-top: 50px;
}

div#header-title {
    height: 470px;
    margin-top: 50px;
    background-position: center;
    background-size: cover;
    display: flex;
}

.header-text {
    height: auto;
    width: auto;
    margin: auto;
    background: rgba(255, 255, 255, 0);
    text-transform: uppercase;
    
}

.header-text h2 {
    font-weight: 300;
    background-color: rgba(0,0,0,0.2);
    font-size: 60px;
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
    padding: 15px 25px 15px 25px;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.header-text h4{
    text-transform: uppercase;
    font-weight: 300;
}

.header-text h4 a{
    color: #fff;
    text-decoration: none;
}

.header-text h4 span{
    margin: 0 10px;
}

div#contact {
    background-image: url("../image/bg-head.jpg");
    height: 800px;
    margin-top: 50px;
}




/* Sim Button (Button Header) */

.sim-button {
    line-height: 50px;
    height: 50px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    width: 200px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'AvenirLTStd-Light';
    font-weight: 300;
    letter-spacing: 2px;
}

.button28 {
    color: rgba(255, 255, 255, 1);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
}

.button28 span {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.button28 a {
    color: rgba(51, 51, 51, 1);
    text-decoration: none;
    display: block;
}

.button28::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(0.1, 1);
    transform: scale(0.1, 1);
}

.button28:hover span {
    letter-spacing: 2px;
}

.button28:hover::before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.button28::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.25);
}

.button28:hover::after {
    opacity: 0;
    -webkit-transform: scale(0.1, 1);
}




/* Dropdown Navbar */

.dropdown-menu {
    border: 0px;
    border-radius: 0px;
    background-color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    box-shadow: 0px 0px;
    min-width: 80px;
}

.dropdown-menu>li>a {
    font-weight: 300;
    padding: 3px 15px;
}

.dropdown-menu>li>a:hover {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-nav>li.dropdown:hover>a,
.navbar-default .navbar-nav>li.dropdown:hover>a:hover,
.navbar-default .navbar-nav>li.dropdown:hover>a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(85, 85, 85);
}

li.dropdown:hover>.dropdown-menu {
    display: block;
}

div#goTop {
    padding: 25px;
    background-color: #000;
    opacity: 0.7;
    bottom: 200px;
    cursor: pointer;
    display: none;
    height: 35px;
    position: fixed;
    right: 5%;
    bottom: 5%;
    width: 44px;
    z-index: 1000;
    transition: all 0.2s ease;
}

div#goTop:hover{
    background-color: #333;
}

.form-control::-webkit-input-placeholder {
    color: #000;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #000;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #000;
}

.form-control:-ms-input-placeholder {
    color: #000;
}

.form-login {
    width: 450px;
    height: auto;
}

input.form-login {
    width: 100%;
    display: block;
    float: left;
}



/* Product Site */

div#main-prod {
    margin: 0px 0 50px 0;
    width: 100%;
    min-height: 500px;
    display: inline-block;
    background-color: #fff;
    padding: 50px 0 0 0;
    color: #000;
}
div#main-prod-home {
    margin: 0px 0 50px 0;
    width: 100%;
    min-height: 500px;
    display: inline-block;
    padding: 50px 0 0 0;
    color: #000;
}



.filter {
    height: auto;
    color: #000;
    background-color: #fff;
}

.filter h4 {
    font-size: 20px;
}


.filter a {
    width: 110px;
    margin: 2px auto auto auto;
    display: block;
    color: #999;
    background-color: #fff;
    transition: all 0.2s ease;
    padding: 2px 10px;
}

.filter a:hover {
    color: #000;
    background-color: rgba(165,165,165,0.05);
    text-decoration: none;
}

.product-show {
    width: 295px;
    min-height: 420px;
    margin-bottom: 30px;
    margin-left: 10px;
    float: left;
}

.title-prod {
    display: block;
    margin-top: 310px;
    color: #000;
}


.title-prod h4 {
    color: #d2322d;
    font-weight: 500;
}

.title-prod strike {
    color: #B48C80;
}

.title-prod h4 a {
    color: #303030;
    text-decoration: none;
    padding: 10px 15px;
}

.title-prod h5{
    margin-top: 15px;
}

.title-prod .addcart {
    color: #303030;
    text-decoration: none;
    padding: 7px 15px;
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid rgba(165,165,165,0.5);
    border-bottom: 1px solid rgba(165,165,165,0.5);
    transition: all 0.5s ease;
}

.title-prod .addcart:hover {
    border-top: 1px solid rgba(0,0,0,1);
    border-bottom: 1px solid rgba(0,0,0,1);
    background-color: rgba(165,165,165,0.05);
}

.title-prod .buynow {
    color: #303030;
    text-decoration: none;
    padding: 7px 15px;
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid rgba(165,165,165,0.5);
    border-bottom: 1px solid rgba(165,165,165,0.5);
    font-weight: bold;
    transition: all 0.5s ease;
}

.title-prod .buynow:hover {
    border-top: 1px solid rgba(165,165,165,0);
    border-bottom: 1px solid rgba(165,165,165,0);
    color: #d2322d;
    font-weight: bold;
}

.prod {
    height: auto;
    display: inline-block;
    padding: 0px;
}

.caption-style-2 {
    color: #efefef;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;

    float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 295px;
    float: left;
}


.caption-style-2:hover .caption {
    opacity: 1;
    transform: translateY(-0px);
}

.caption-style-2:hover .diamond {
    opacity: 0;
}

.caption-style-2 .caption {
    position: absolute;
    opacity: 0;
    transition: all 0.15s ease-in-out;
}

.caption-style-2 .blur {
    background-color: rgba(0, 0, 0, 0.5);
    height: 295px;
    width: 295px;
    z-index: 5;
    position: absolute;
}

.caption-style-2 i {
    font-size: 20px;
    padding: 10px;
    border: 1px solid #fff;
    margin: 45% 5px;
    background: rgba(0, 0, 0, 0);
    transition: background 0.2s ease-out;
}

.caption-style-2 a {
    color: #fff;
    width: auto;
    height: auto;
}

.caption-style-2 i:hover {
    color: #000;
    background: #fff;
}

.caption-style-2 .caption-text {
    cursor: pointer;
    z-index: 10;
    color: #fff;
    position: absolute;
    width: 295px;
    height: 295px;
    text-align: center;
}

.caption-style-2 .deal {
    width: 50px;
    height: 50px;
    background-color: rgba(217, 83, 79, 1);
    color: #efefef;
    margin: 0;
    letter-spacing: 0;
    padding: 17px 10px;
    z-index: 1;
    left: 83%;
    position: absolute;
    font-weight: 300;
    font-size: 16px;
}


/*Pagination - Phan trang*/

.pagination a {
    padding: 15px 20px;
    background-color: rgba(165,165,165,0.3);
    color: #000;
    text-decoration: none;
    transition: all 0.2s ease;
}

.pagination a:hover {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}

.pagination span {
    background-color: #000;
    color: #efefef;
    padding: 15px 20px;
}


/*Zoom image product*/

.zoom {
    display: inline-block;
    position: relative;
    float: right;
}

.zoom img {
    display: block;
    float: right;
}

.zoom img::selection {
    background-color: transparent;
}

/*Quantity*/

.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 80px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #ccc;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #ccc;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #ccc;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: 0px;
  height: 50%;
}

/*End Quantity*/

.detail-product {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

.detail-product .col-sm-7 {
    max-width: 770px;
}

.detail-product h4 {
    color: #747474;
}

.detail-product h1 {
    color: #303030;
    font-weight: 400;
    letter-spacing: 2px;
}

.detail-product h2 {
    color: #d2322d;
    font-weight: 400;
    letter-spacing: 1px;
}

.detail-product h2 strike {
    color: #A5A5A5;
    font-weight: 300;
    letter-spacing: 1px;
}

.action-group {
    display: inline-block;
}

.service li {
    list-style-type: none;
    padding: 10px 0;
}

.service .custom-icon-box {
    padding: 0;
}

.service .custom-icon-box i {
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #e9e9e9;
    margin-right: 1.53846rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    font-size: 16px;
}

.describe {
    background-color: rgba(165,165,165,0.05);
    width: 100%;
}

.describle h4 i{
    top: 10px;
    right: 15px;
    display: inline-block;
}

.des-content{
    border: 1px solid #eee;
    padding: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}

#main-prod .col-sm-7 h3{
    color: #d2322d;
}

#main-prod .col-sm-7 h3 strike{
    color: #A5A5A5;
}

#main-prod .col-sm-7 .btn{
    border-radius: 0;
}

#main-prod .col-sm-7 .btn-primary{
    background-color: rgba(165,165,165,0.1); 
    border: 1px solid #a5a5a5;
    transition: all 0.2s ease-out;
    color: #a5a5a5;
    padding: 10px 15px;
}

#main-prod .col-sm-7 .btn-primary:hover{
    background-color: #a5a5a5; 
    color: #fff;
}

#main-prod .col-sm-7 .btn-danger{
    background-color: rgba(210,50,45,0.07);
    border: 1px solid #d2322d;
    color: #d2322d;
    transition: all 0.2s ease-out;
    padding: 10px 15px;
}

#main-prod .col-sm-7 .btn-danger:hover{
    background-color: #d2322d; 
    color: #fff;
}

#main-prod .col-sm-7 .btn-success{
    background-color: #d2322d;
    border: 1px solid #d2322d;
    transition: all 0.2s ease-out;
}

#main-prod .col-sm-7 .btn-success:hover{
    background-color: rgba(230,75,70,1);
    border: 1px solid rgba(230,75,70,1);
}

@media (min-width: 1366px) {
    .describe {
        width: 1250px;
        padding: 30px 60px;
    }
}

@media (min-width: 1920px) {
    .describe{
        width: 1810px;
        padding: 50px 285px 50px 285px;
        margin: 50px 0 0 0;
    }
}

.arrow_box {
    position: relative;
    background: rgba(0,0,0,0);
    width: 50px;
    margin-bottom: 15px;
}

.arrow_box:after {
    top: 110%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000;
    border-width: 5px;
    margin-left: -10px;
}

.navbar-right .cart{
    background-image: url(../image/business.png);
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-top: 2px;
    padding: 0px;
}

.cart p{
    color: #000;
    text-align: center;
    padding-top: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
}

.s-cart {
    background-color: #fff;
    display: block;
    margin-top: 50px;
    display: flex;
    color: #000;
    min-height: 900px;
}

.s-cart .kb{
    padding: 10px 20px;
    background-color: #a5a5a5;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 10px;
}

.s-cart .col-sm-12{
    max-width: 1200px;
    margin:auto;
    margin-top: 20px;
}

.uncart{
    padding: 10px 20px;
    background-color: #199cb7;
    color: #fff;
}

.uncart:hover{
    color: #fff;
}

.tcart th, .tcart h4, .tcart h5{
    font-weight: 300;
}

.tcart h4{
    text-transform: uppercase;
}

.tcart a i{
    font-size: 22px;
    color: #a5a5a5;
}

.pcart{
    background-color: rgba(165,165,165,0.1);
}

.pcart img{
    margin: 10px;
}

.s-cart .total p{
    margin: 10px 0;
    font-size: 18px;
}

.s-cart .total a{
    width: 100%;
    padding: 10px 135.5px;
    color: #fff;
    background-color: #d2322d;
}

.s-cart .total hr{
    margin: 10px 0;
}

.total-prod{
    display: block;
    height: 50px;
    width: auto;
}

